 /* Navbar */

  /* .container-fluid {
    padding: 3% 15% 7%;
  } */

  #nav {
    position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 10;
  }
  
  .bg-light {
    background-color: yellow;
  }

  .nav-item {
      padding-left: 25%;
      
  }

  .nav-link {
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    
  }

  /* TITLE */

#title {
    text-align: center;
    height: 200px;
    background-color: #feb72b;
    color:white;
}

.nazwa {
  font-size: 50px;
  /* rotate: 25deg; */
  font-family: 'Libre Baskerville', serif;

}

.motto {
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}


/* PRICE */

#price {
  padding-bottom: 50px;
  padding-top: 50px;
}

.oferta {
  font-size: 50px;
  text-align: center;
  padding-bottom: 20px;
}

.fas {
  font-size: 60px;
  color: #feb72b;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  text-align: center;
}

.card-deck {
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}


/* HOW */

#how {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

.media .mr-3 {
  width: 70px;
}

#how h2 {
  text-align: center;
  padding-top: 10px;
}

.media {
  padding-top: 20px;
  margin-left: 20px;
  /* text-align: center; */
}

#how .icon {
  color: #feb72b;
  font-size: 40px;
}

.mr-3 {

}

/* PROJECTS */

#projects {
  text-align: center;
  /* background-color: #feb72b; */
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 50px;
  color: #feb72b;
}

.image {
  width: 100%;
  margin: auto 15px;
}

.image:hover {
  color: black;
}


/* contact */
#conact {
  background-color: #feb72b;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.myButton {
	box-shadow: 0px 1px 0px 0px #d1bf3a;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e6d23e;
}
.myButton:hover {
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	background-color:#ffab23;
}
.myButton:active {
	position:relative;
	top:1px;
}




  /* FONTS */
/* 
  font-family: 'Montserrat', sans-serif;

  font-family: 'Libre Baskerville', serif;

  font-family: 'Dancing Script', cursive; 
  */

